﻿@model PrakashCRM.Data.Models.SPDailyVisitDetails
@{
    ViewBag.Title = "DailyVisit";
    Layout = "~/Views/Shared/_SalespersonMasterLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<style>
    .DailyPlanProdCls {
        cursor: pointer;
    }
</style>
<div class="page-content">
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="/SPDashboard/Index"><i class="bx bx-tachometer"></i>&nbsp;Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/SPVisitEntry/DailyVisitList"> Daily Visit List </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Daily Visit
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <hr />
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("DailyVisit", "SPVisitEntry", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class="row g-3">
                    <div class="col-md-12">
                        <input id="hfContactCompanyNo" name="hfContactCompanyNo" value="" style="display:none" />
                        <input id="hfContactPersonNo" name="hfContactPersonNo" value="" style="display:none" />
                        <input id="hfEventNo" name="hfEventNo" value="" style="display:none" />
                        <input id="hfTopicName" name="hfTopicName" value="" style="display:none" />
                        <input id="hfType" name="hfType" value="" style="display:none" />
                        <input id="hfSubType" name="hfSubType" value="" style="display:none" />
                        <input id="hfProdLineNo" name="hfProdLineNo" value="" style="display:none" />
                        <input id="hfProdNo" name="hfProdNo" value="" style="display:none" />
                        <input id="hfProdNoEdit" name="hfProdNoEdit" value="" style="display:none" />
                        <input id="hfWeekPlanEdit" name="hfWeekPlanEdit" value="false" style="display:none" />
                        <input id="hfNo" name="hfNo" value="" style="display:none" />
                        <input id="hfWeekNo" name="hfWeekNo" value="" style="display:none" />
                        <input id="hfWeekStartDate" name="hfWeekStartDate" value="" style="display:none" />
                        <input id="hfWeekEndDate" name="hfWeekEndDate" value="" style="display:none" />
                        <input id="hfFinancialYear" name="hfFinancialYear" value="" style="display:none" />
                        <input id="hfDailyVisitEdit" name="hfDailyVisitEdit" value="" style="display:none" />
                        <input id="hfCompetitor" name="hfCompetitor" value="" style="display:none" />
                        <input id="hfAvailableCompetitors" name="hfAvailableCompetitors" value="" style="display:none" />
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Financial Year<span class="required" style="color: red; margin-left: 2px">*</span></label>
                        <select id="ddlFinancialYear" class="form-select"></select>
                        <label id="lblFinancialYearMsg" style="color:red;display:none"></label>
                    </div>
                </div>
                <br />
                <div class="row g-3">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Date<span class="required" style="color: red; margin-left: 2px">*</span></label>
                        <input type="date" id="txtDate" class="form-control" />
                        <label id="lblDateMsg" style="color:red;display:none"></label>
                        @*@Html.TextBoxFor(model => model.Date, new { @id = "txtDate", @class = "form-control", @type = "date" })*@
                    </div>
                </div>
                <br />
                <div class="row g-3">
                    <div class="col-md-12">
                        <table id="tblWeekPlanList" class="table mb-0 table-striped" style="display:none">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Financial<br />Year</th>
                                    <th>Week Plan<br />Date</th>
                                    <th hidden>Contact<br />Company No</th>
                                    <th>Customer Name</th>
                                    <th hidden>Visit<br />Type No</th>
                                    <th>Visit Type</th>
                                    <th hidden>Visit Sub<br />Type No</th>
                                    <th>Visit Sub<br />Type</th>
                                    <th>Mode Of<br />Visit</th>
                                    <th>Purpose Of<br />Visit</th>
                                    <th hidden>Contact<br />Person No</th>
                                    <th>Contact<br />Person</th>
                                    <th hidden>Event No</th>
                                    <th>Event</th>
                                    <th>Topic</th>
                                    <th hidden>Week No</th>
                                    <th hidden>Week Start Date</th>
                                    <th hidden>Week End Date</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br /><br />
                <h6 class="mb-0 text-uppercase">Type - SubType</h6>
                <hr />
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Type<span class="required" style="color: red; margin-left: 2px">*</span></label>
                        <select id="ddlType" class="form-select"></select>
                        <label id="lblTypeMsg" style="color:red;display:none"></label>
                        @*@Html.DropDownListFor(model => model.Task_No, Enumerable.Empty<SelectListItem>(), new { @id = "ddlType", @class = "form-select" })*@
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Sub Type<span class="required" style="color: red; margin-left: 2px">*</span></label>
                        <select id="ddlSubType" class="form-select"></select>
                        <label id="lblSubTypeMsg" style="color:red;display:none"></label>
                        @*@Html.DropDownListFor(model => model.Sub_Task_No, Enumerable.Empty<SelectListItem>(), new { @id = "ddlSubType", @class = "form-select" })*@
                    </div>
                </div>
                @*<br />*@
                <div id="dvEventTopic" style="display:none">
                    <br />
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Event Name<span class="required" style="color: red; margin-left: 2px">*</span></label>
                            <select id="ddlEventName" class="form-select"></select>
                            <label id="lblEventNameMsg" style="color:red;display:none"></label>
                            @*@Html.TextBoxFor(model => model.Event_Name, new { @id = "txtEventName", @class = "form-control" })*@
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Topic Name<span class="required" style="color: red; margin-left: 2px">*</span></label>
                            <input type="text" id="txtTopicName" class="form-control" />
                            <label id="lblTopicNameMsg" style="color:red;display:none"></label>
                            @*@Html.TextBoxFor(model => model.Topic_Name, new { @id = "txtTopicName", @class = "form-control" })*@
                        </div>
                    </div>
                </div>
                <div id="dvCustomerContact" style="display:none">
                    <br />
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Customer Name<span class="required" style="color: red; margin-left: 2px">*</span></label>
                            <select id="ddlCustomerName" class="form-select"></select>

                            @*<input type="text" id="ddlCustomerName" class="form-control" />"*@
                            <label id="lblCustomerNameMsg" style="color:red;display:none"></label>
                            @*@Html.DropDownListFor(model => model.Contact_Company_No, Enumerable.Empty<SelectListItem>(), new { @id = "ddlCustomerName", @class = "form-select" })*@
                        </div>
                        <!--<div class="col-md-1">-->
                        @*<br />*@
                        <!--<button id="btnCustAdd" class="btn btn-primary">+</button>
                        </div>-->
                        <div class="col-md-6">
                            <label class="form-label">Contact Person<span class="required" style="color: red; margin-left: 2px">*</span></label>
                            <select id="ddlContactPerson" class="form-select"></select>
                            <label id="lblContactPersonMsg" style="color:red;display:none"></label>
                            @*@Html.DropDownListFor(model => model.Contact_Person_No, Enumerable.Empty<SelectListItem>(), new { @id = "ddlContactPerson", @class = "form-select" })*@
                        </div>
                        <!--<div class="col-md-1">-->
                        @*<br />*@
                        <!--<button id="btnCPersonAdd" class="btn btn-primary">+</button>
                        </div>-->
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            @*<button id="btnCustAdd" class="btn btn-primary bx bx-plus" title="Add New Contact Company"></button>*@
                            <button id="btnCustAdd" type="button" class="btn btn-primary bx bx-plus" title="Add New Contact Company"></button>

                        </div>
                        <div class="col-md-6">
                            <button id="btnCPersonAdd" type="button" class="btn btn-primary bx bx-plus" title="Add New Contact Person"></button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Mode Of Visit<span class="required" style="color: red; margin-left: 2px">*</span></label>
                        <select id="ddlVisitMode" class="form-select"></select>
                        <label id="lblVisitModeMsg" style="color:red;display:none"></label>
                        @*@Html.DropDownListFor(model => model.Mode_of_Visit, Enumerable.Empty<SelectListItem>(), new { @id = "ddlVisitMode", @class = "form-select" })*@
                    </div>
                </div>
                <br /><br />
                <div id="dvProdDetails" style="display:none">
                    <h6 class="mb-0 text-uppercase">Product Details</h6>
                    <hr />
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label">Product Name<span class="required" style="color: red; margin-left: 2px">*</span>&nbsp;&nbsp;<input type="checkbox" id="chkShowAllProducts" class="form-check-input" />&nbsp;Show All</label>
                            <select id="ddlProductName" class="form-select">
                            </select>
                            <label id="lblProdMsg" class="form-label" style="color:red;display:none"></label>
                            @*@Html.DropDownListFor(model => model.Product_No, Enumerable.Empty<SelectListItem>(), new { @id = "ddlProductName", @class = "form-select" })*@
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Qty<span class="required" style="color: red; margin-left: 2px">*</span></label>
                            <input type="text" id="txtProdQty" class="form-control" />
                            <label id="lblProdQtyMsg" class="form-label" style="color:red"></label>
                            @*@Html.TextBoxFor(model => model.Quantity, new { @id = "txtProdQty", @class = "form-control" })*@
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">UOM</label>
                            <input type="text" id="txtUOM" class="form-control" />
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Competitor Name</label>
                            <select class="form-select" id="ddlCompetitors" data-placeholder="---Select---" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4" align="right">
                            <br />
                            <button type="button" id="btnSaveProd" class="btn btn-primary">Save Product</button>
                        </div>
                    </div>
                    <br />
                    <!-- -->

                    <div class="row g-3" align="center">
                        <div class="col-md-12">
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <table id="tblProdList" class="table mb-0 table-striped" style="display:none">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th hidden></th>
                                                <th scope="col" width="60%">Product Name</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">UOM</th>
                                                <th scope="col">Competitors</th>
                                                <th hidden></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblProducts">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- -->
                </div>
                <h6 class="mb-0 text-uppercase">Date Time & KM Details</h6>
                <hr />
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Starting Time</label>
                        <table>
                            <tr>
                                <td>
                                    <select id="ddlStartHours" class="form-select"></select>
                                    @*@Html.DropDownListFor(model => model.Start_Time, Enumerable.Empty<SelectListItem>(), new { @id = "ddlStartHours", @class = "form-select" })*@
                                </td>
                                <td>
                                    <select id="ddlStartMinutes" class="form-select"></select>
                                    @*@Html.DropDownListFor(model => model.Start_Minutes, Enumerable.Empty<SelectListItem>(), new { @id = "ddlStartMinutes", @class = "form-select" })*@
                                </td>
                                <td>
                                    <select id="ddlStartAMPM" class="form-select"></select>
                                    @*@Html.DropDownListFor(model => model.StartTimeAMPM, Enumerable.Empty<SelectListItem>(), new { @id = "ddlStartAMPM", @class = "form-select" })*@
                                    @*<select id="ddlStartAMPM" name="ddlStartAMPM" class="form-select">
                                            <option value=""></option>
                                            <option value="AM">AM</option>
                                            <option value="PM">PM</option>
                                        </select>*@
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Closing Time</label>
                        <table>
                            <tr>
                                <td>
                                    <select id="ddlClosingHours" class="form-select"></select>
                                    <label class="text-danger" style="display:none" id="ErrorClosingTimeMsg"></label>
                                    @*@Html.DropDownListFor(model => model.End_Time, Enumerable.Empty<SelectListItem>(), new { @id = "ddlClosingHours", @class = "form-select" })*@
                                </td>
                                <td>
                                    <select id="ddlClosingMinutes" class="form-select"></select>
                                    @*@Html.DropDownListFor(model => model.End_Minutes, Enumerable.Empty<SelectListItem>(), new { @id = "ddlClosingMinutes", @class = "form-select" })*@
                                </td>
                                <td>
                                    <select id="ddlClosingAMPM" class="form-select"></select>
                                    @*@Html.DropDownListFor(model => model.EndTimeAMPM, Enumerable.Empty<SelectListItem>(), new { @id = "ddlClosingAMPM", @class = "form-select" })*@
                                    @*<select id="ddlClosingAMPM" name="ddlClosingAMPM" class="form-select">
                                            <option value=""></option>
                                            <option value="AM">AM</option>
                                            <option value="PM">PM</option>
                                        </select>*@
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Total Time</label>
                        <input type="text" id="txtTotalTime" class="form-control" />
                        @*@Html.TextBoxFor(model => model.Total_Time, new { @id = "txtTotalTime", @class = "form-control" })*@
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Starting KM</label>
                        <input type="text" id="txtStartingKM" class="form-control" />
                        @*@Html.TextBoxFor(model => model.Start_km, new { @id = "txtStartingKM", @class = "form-control" })*@
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Closing KM</label>
                        <input type="text" id="txtClosingKM" class="form-control" />
                        <label class="text-danger" id="ErrorClosingKM" style="display:none"></label>
                        @*@Html.TextBoxFor(model => model.End_km, new { @id = "txtClosingKM", @class = "form-control" })*@
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Total KM</label>
                        <input type="text" id="txtTotalKM" class="form-control" />
                        @*@Html.TextBoxFor(model => model.Total_km, new { @id = "txtTotalKM", @class = "form-control" })*@
                    </div>
                </div>
                <br /><br />
                <h6 class="mb-0 text-uppercase">Attachment</h6>
                <hr />
                <div class="row g-3">
                    <div class="col-md-1">
                        <label class="form-label">Document Name</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" id="txtDocName" class="form-control" />
                        @*@Html.TextBoxFor(model => model.Topic_Name, new { @id = "txtTopicName", @class = "form-control" })*@
                    </div>
                    <div class="col-md-5">
                        <input type="file" id="AttachmentFile" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <button id="btnAddAttachment" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <br />
                <div id="dvAttachmentDetails">

                    <div class="row g-3">
                        <div class="col-md-12">
                            <table id="tblAttachments" class="table mb-0 table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">Document Name</th>
                                        <th scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody id="tblAttachmentsDetails">
                                    <tr>
                                        <td></td>
                                        <td>Document1</td>
                                        <td>File1</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Document2</td>
                                        <td>File2</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Document3</td>
                                        <td>File3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row g-3">
                        <div class="col-md-12" align="right">
                            <button id="btnFileUpload" class="btn btn-primary">Upload</button>
                        </div>
                    </div>

                </div>
                <br /><br />
                <h6 class="mb-0 text-uppercase">Feedback</h6>
                <hr />
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Feedback</label>
                        <textarea id="txtFeedback" class="form-control"></textarea>
                        @*@Html.TextBoxFor(model => model.Feedback, new { @id = "txtFeedback", @class = "form-control" })*@
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Remarks/Suggestion</label>
                        <textarea id="txtRemarks" class="form-control"></textarea>
                        @*@Html.TextAreaFor(model => model.Suggestion, new { @id = "txtRemarks", @class = "form-control" })*@
                    </div>
                </div>
                <br />
                <div class="row g-3">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-primary" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-bs-toggle="tab" href="#marketupdate" role="tab" aria-selected="true">
                                    <div class="d-flex align-items-center">
                                        <div class="tab-title">Market Update</div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" href="#payment" role="tab" aria-selected="false">
                                    <div class="d-flex align-items-center">
                                        <div class="tab-title">Payment</div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" href="#complain" role="tab" aria-selected="false">
                                    <div class="d-flex align-items-center">
                                        <div class="tab-title">Complain</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content py-3">
                            <div class="tab-pane fade show active" id="marketupdate" role="tabpanel">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Market Update</label>
                                        <textarea id="txtMUpdate" class="form-control"></textarea>
                                        @*@Html.TextBoxFor(model => model.Market_Update, new { @id = "txtMUpdate", @class = "form-control" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="payment" role="tabpanel">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Date</label>
                                        <input type="date" id="txtPaymentDate" class="form-control" />
                                        @*@Html.TextBoxFor(model => model.Payment_Date, new { @id = "txtPaymentDate", @type = "date", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Amount</label>
                                        <input type="text" id="txtPaymentAmt" class="form-control" />
                                        @*@Html.TextBoxFor(model => model.Payment_Amt, new { @id = "txtPaymentAmt", @class = "form-control" })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Remarks</label>
                                        <textarea id="txtPaymentRemarks" class="form-control"></textarea>
                                        @*@Html.TextAreaFor(model => model.Payment_Remarks, new { @id = "txtPaymentRemarks", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-6">
                                        <br />
                                        <label class="form-label">Is PDC</label>
                                        <input type="checkbox" id="chkIsPDC" class="form-check" />
                                        @*@Html.TextBoxFor(model => model.Payment_Date, new { @id = "txtPaymentDate", @type = "date", @class = "form-control" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="complain" role="tabpanel">
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Date</label>
                                        <input type="date" id="txtCompDate" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Invoice</label>
                                        <select class="form-select" id="ddlCompInvoice"></select>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label class="form-label">Complain Product</label>
                                        @*<select class="form-select" id="ddlCompProduct"></select>*@
                                        <select class="form-select" id="ddlCompProduct" data-placeholder="---Select---" multiple>
                                        </select>
                                        @*@Html.DropDownListFor(model => model.Complain_Product_No, Enumerable.Empty<SelectListItem>(), new { @id = "ddlCompProduct", @class = "form-select" })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label class="form-label">Subject</label>
                                        <textarea id="txtCompSubject" class="form-control"></textarea>
                                        @*@Html.TextAreaFor(model => model.Complain_Subject, new { @id = "txtCompSubject", @class = "form-control" })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Root Cause Analysis Date</label>
                                        <input type="date" id="txtRCADate" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Root Cause Analysis</label>
                                        <textarea id="txtRootCauseAna" class="form-control"></textarea>
                                        @*@Html.TextAreaFor(model => model.Root_Analysis, new { @id = "txtRootCauseAna", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Attachment</label>
                                        <input type="file" id="RCAFile" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Corrective Action Date</label>
                                        <input type="date" id="txtCActionDate" class="form-control" />
                                        @*@Html.TextBoxFor(model => model.Corrective_Action, new { @id = "txtCorrectiveAction", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Corrective Action</label>
                                        <textarea id="txtCorrectiveAction" class="form-control"></textarea>
                                        @*@Html.TextBoxFor(model => model.Corrective_Action, new { @id = "txtCorrectiveAction", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Attachment</label>
                                        <input type="file" id="CActionFile" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Prevention Action Date</label>
                                        <input type="date" id="txtPActionDate" class="form-control" />
                                        @*@Html.TextBoxFor(model => model.Preventive_Action, new { @id = "txtPreventionAction", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Prevention Action</label>
                                        <textarea id="txtPreventionAction" class="form-control"></textarea>
                                        @*@Html.TextBoxFor(model => model.Preventive_Action, new { @id = "txtPreventionAction", @class = "form-control" })*@
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Attachment</label>
                                        <input type="file" id="PActionFile" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Assign To</label>
                                        <select class="form-select" id="ddlCompAssignTo"></select>
                                        @*@Html.DropDownListFor(model => model.Complain_Assign_To, Enumerable.Empty<SelectListItem>(), new { @id = "ddlCompAssignTo", @class = "form-select" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toolbar">
                    <div class=" text-end g-3">
                        <input id="hdnLoggedInUserSPCode" value="@Session["loggedInUserSPCode"].ToString()" style="display:none" />
                        <input id="getServiceApiUrl" value="@System.Configuration.ConfigurationManager.AppSettings["ServiceApiUrl"].ToString()" style="display:none" />
                        <input type="hidden" id="hfDailyVisitAction" value="@Session["DailyVisitAction"]" />
                        <input type="hidden" id="hfDailyVisitActionErr" value="@Session["DailyVisitActionErr"]" />
                        <button id="btnSaveSpinner" class="btn btn-primary" type="button" disabled style="display:none">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="visually-hidden">Loading...</span>
                        </button>
                        &nbsp;
                        <button id="btnSave" class="btn btn-success" type="submit"><i class="bx bxs-save"></i> Save</button>
                        &nbsp;
                        @*<button type="button" class="btn btn-danger"><i class="lni lni-close"></i> Cancel</button>*@
                        <a href="/SPVisitEntry/DailyVisitList" class="btn btn-danger"><i class="lni lni-close"></i> Cancel </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal" id="modalAddNewCPerson" tabindex="-1" aria-hidden="true" style="display:none">
        <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Contact Person<br />In Selected Company</h5>
                    <button id="btnCloseAddNewCPerson" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Name<span class="required" style="color:red;margin-left:2px">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="txtCPersonName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Mobile No<span class="required" style="color: red; margin-left: 2px">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="txtCPersonMobile" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                @*<label class="col-sm-3 col-form-label">Email<span class="required" style="color:red;margin-left:2px">*</span></label>*@
                                <label class="col-sm-3 col-form-label">Email<span class="required" style="color:red;margin-left:2px">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="txtCPersonEmail" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Department<span class="required" style="color:red;margin-left:2px">*</span></label>
                                <div class="col-sm-9">
                                    @*<input type="hidden" id="hfDepartmentCode" value="@ViewBag.PCPL_Department_Code" />*@
                                    <select id="ddlDepartment" class="form-select"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Job Responsibility<span class="required" style="color:red;margin-left:2px">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="txtJobResponsibility" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Allow Login</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" id="chkAllowLogin" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Enable OTP On Login</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" id="chkEnableOTPOnLogin" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <label id="lblAddMsg" style="display:none" class="form-label"></label>
                    &nbsp;
                    <button id="btnAddSpinner" class="btn btn-primary" type="button" disabled style="display:none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="visually-hidden">Loading...</span>
                    </button>
                    &nbsp;
                    <button id="btnConfirmAddCPerson" class="btn btn-primary" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalErrMsg" tabindex="-1" aria-hidden="true" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red">Error</h5>
                    <button id="btnCloseModalErrMsg" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color:red" align="center">
                    <img src="~/Layout/assets/images/appImages/CancelIcon.png" />
                    <br /><br />
                    <h6 id="modalErrDetails" style="color:red"></h6>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnRedirectContactCompanyList" value='@Url.Action("ContactCompanyList", "SPContacts")' />
    <input type="hidden" id="hdnRedirectDailyVisit" value='@Url.Action("DailyVisit", "SPVisitEntry")' />


    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Layout/assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Scripts/appjs/DailyVisit.js"></script>
    <script>
    debugger;

    $('#ddlCompetitors').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: false,
        tags: true
    });

    $('#ddlCompProduct').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: false,
        tags: true
    });


//    $('#btnCustAdd').click( function () {
//        var redirectcontactcard = $("#hdnRedirectContactCompanyList").val();

//        window.location.href = redirectcontactcard;

//});


    $('#btnCustAdd').on('click', function () {
            var redirectUrl = '@Url.Action("CompanyContactCard", "SPContacts")';
            window.location.replace(redirectUrl);
       });

        $('#btnSave').click(function () {

            var flag = CheckDailyPlanValues();

            if (flag) {

                var dailyvisit = {};
                //var dailyVisitExpense_ = new Array();
                var dailyVisitProds_ = new Array();
                var CCompanyDetails = new Array();

                dailyvisit.Financial_Year = $('#ddlFinancialYear').val();
                dailyvisit.Date = $('#txtDate').val();
                dailyvisit.Visit_Type = $('#ddlType').val();

                const subTypeDetails = $('#ddlSubType').val().split('_');
                dailyvisit.Visit_SubType_No = subTypeDetails[0];
                /*dailyvisit.Contact_Company_No = $('#ddlCustomerName').val();*/
                if ($('#ddlCustomerName').val() != null) {
                    const CCompanyDetails_ = $('#ddlCustomerName').val().split('__');
                    dailyvisit.Contact_Company_No = CCompanyDetails_[0];
                    CCompanyDetails.push(CCompanyDetails_[0]);
                    CCompanyDetails.push(CCompanyDetails_[1]);
                }
                else {
                    dailyvisit.Contact_Company_No = "";
                }

                dailyvisit.Contact_Person_No = $('#ddlContactPerson').val();
                dailyvisit.Event_No = $('#ddlEventName').val();
                dailyvisit.Topic_Name = $('#txtTopicName').val();
                dailyvisit.Mode_of_Visit = $('#ddlVisitMode').val();
                dailyvisit.Feedback = $('#txtFeedback').val();
                dailyvisit.Remarks = $('#txtRemarks').val();
                dailyvisit.Market_Update = $('#txtMUpdate').val();
                dailyvisit.Market_Update_Date = "";
                dailyvisit.Payment_Amt = parseFloat($('#txtPaymentAmt').val());
                dailyvisit.Payment_Date = $('#txtPaymentDate').val();
                dailyvisit.Payment_Remarks = $('#txtPaymentRemarks').val();
                dailyvisit.Com_Date = $('#txtCompDate').val();
                dailyvisit.Complain_Subject = $('#txtCompSubject').val();

                var compProds = "";

                if ($('#ddlCompProduct option').length > 1) {


                    $('#ddlCompProduct option:not(:first-child)').each(function () {

                        if ($(this).prop('selected')) {
                            compProds += $(this).text() + ",";
                        }

                    });

                    compProds = compProds.substring(0, compProds.length - 1);

                }

                dailyvisit.Complain_Products = compProds;
                dailyvisit.Complain_Product_No = $('#ddlCompProduct').val();
                dailyvisit.Complain_Invoice = $('#ddlCompInvoice').val();
                dailyvisit.Root_Analysis = $('#txtRootCauseAna').val();
                dailyvisit.Root_Analysis_date = $('#txtRCADate').val();
                dailyvisit.Corrective_Action = $('#txtCorrectiveAction').val();
                dailyvisit.Corrective_Action_Date = $('#txtCActionDate').val();
                dailyvisit.Preventive_Action = $('#txtPreventionAction').val();
                dailyvisit.Preventive_Date = $('#txtPActionDate').val();
                dailyvisit.Complain_Assign_To = $('#ddlCompAssignTo').val();
                dailyvisit.Is_PDC = $('#chkIsPDC').prop('checked');
                if ($('#hfWeekNo').val() == null || $('#hfWeekNo').val() == "") {
                    dailyvisit.Week_No = 0;
                }
                else {
                    dailyvisit.Week_No = parseInt($('#hfWeekNo').val());
                }

                if ($('#hfWeekStartDate').val() == null || $('#hfWeekStartDate').val() == "") {
                    dailyvisit.Week_Start_Date = "1900-01-01";
                }
                else {
                    dailyvisit.Week_Start_Date = $('#hfWeekStartDate').val();
                }

                if ($('#hfWeekEndDate').val() == null || $('#hfWeekEndDate').val() == "") {
                    dailyvisit.Week_End_Date = "1900-01-01";
                }
                else {
                    dailyvisit.Week_End_Date = $('#hfWeekEndDate').val();
                }

                var dailyVisitExpense_ = {};
                dailyVisitExpense_.Start_Time = $('#ddlStartHours').val() + ":" + $('#ddlStartMinutes').val() + ":00";
                dailyVisitExpense_.End_Time = $('#ddlClosingHours').val() + ":" + $('#ddlClosingMinutes').val() + ":00";
                dailyVisitExpense_.Total_Time = $('#txtTotalTime').val();
                dailyVisitExpense_.Start_km = parseInt($('#txtStartingKM').val());
                dailyVisitExpense_.End_km = parseInt($('#txtClosingKM').val());
                dailyVisitExpense_.Total_km = parseInt($('#txtTotalKM').val());

                //dailyVisitExpense_.push(dailyVisitExpense);

                $("#tblProducts TR").each(function () {
                    var productDetails = {};
                    productDetails.Product_No = $(this).find("TD").eq(1).html();
                    productDetails.Quantity = $(this).find("TD").eq(3).html();
                    productDetails.Financial_Year = $('#ddlFinancialYear').val();
                    productDetails.Competitor = $(this).find("TD").eq(5).html();

                    dailyVisitProds_.push(productDetails);
                });

                dailyvisit.dailyVisitExpense = dailyVisitExpense_;
                dailyvisit.dailyVisitProds = dailyVisitProds_;

                var custName = "";
                var custEmail = "";

                if ($('#ddlCustomerName').val() != null) {
                    custName = $('#ddlCustomerName option:selected').text();
                    custEmail = CCompanyDetails[1];
                }

                (async () => {
                    const rawResponse = await fetch('/SPVisitEntry/PostDailyVisit?CustomerName=' + custName + '&CustEmail=' + custEmail, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(dailyvisit)
                    });
                    const res = await rawResponse.ok;
                    //if (res) {
                        $('#divImage').hide();
                    //    var redirectUrl = $('#hdnRedirectContactCompanyList').val();
                    //     if (redirectUrl) window.location.href = redirectUrl;
                    //    $('#hfDailyVisitEdit').val("false");
                    //}

                })();

            }

        });


    </script>
